<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

        <title>BoolFlix</title>
    </head>

    <body>          
        <div id="root">
            <header>
                <h1>BoolFlix</h1>
                <div class="nav_search">
                    <select v-model="searchText">
                        <option value="" selected>Film - TvSeries</option>
                        <option :value="item" v-for="item in itemsList">{{item}}</option>
                    </select>
                    <input @keyup.enter="research()" v-model="userInput">
                    <button  @click="research()">Search</button>
                </div>
            </header>

            <main>
                <div class="wrap_cards clearfix">
                       
            
                        <ul class="card" v-for="movie in completeList">
                            <li>Titolo: {{movie.title}}</li>
                            <li>Titolo Originale: {{movie.original_title}}</li>
                            <li>Lingua originale: {{movie.original_language}} <div class="flag-icon" :class="`flag-icon-${flagResult(movie)}`"></div></li>
                            <li v-for="(vote, element) in stelline" :class="{'star_vote': mediaVoto(movie, element)}"class='fas fa-star stella'><li>
                            <li> <img :src="posterMovie(movie)"></li>
                            <br>
                        </ul>
                        <br>
                    
                </div>
                
            </main>
        </div>

        <script src="script.js"></script>
    </body>
</html>