<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

        <title>BoolFlix</title>
    </head>

    <body>
        <div id="root">
            <!-- inserimento titolo e barra di ricerca -->
            <header>
                <h1>BoolFlix</h1>
                <div class="nav_search">
                    <input @keyup.enter="research()" v-model="userInput">
                </div>
            </header>
            <!-- contenuto cards film e serie tv -->
            <main>
                <div class="wrap_cards">
                        <div class="card" v-for="movie in completeList">
                            <div class="text_card">
                                <!-- inserisce titoli, lingue e bandiere -->
                                <div>Titolo: {{movie.title}}</div>
                                <br>
                                <div>Titolo Originale: {{movie.original_title}}</div>
                                <br>
                                <div>Lingua originale: {{movie.original_language}} <div class="flag-icon" :class="`flag-icon-${flagResult(movie)}`"></div></div>
                                <br>
                                <div v-for="(vote, element) in stelline" :class="{'star_vote': mediaVoto(movie, element)}"class='fas fa-star stella'></div>
                                <br>
                                <br>
                                <div class="overview"><strong>Overview: </strong>{{movie.overview}}</div>
                            </div>
                            <!-- inserimento img locandina -->
                        <div class="posterimg"><img :src="posterMovie(movie)">
                        </div>
                    </div>
                    </div>
                </div>




            </main>
        </div>

        <script src="script.js"></script>
    </body>
</html>