*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    background-color: rgb(85, 85, 85);
}

/* header section */
header {
    color: rgb(211, 1, 1);
    text-transform: uppercase;
    font-size: 39px;
    font-weight: 900;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    height: 35px;
    text-align: right;
    text-transform: uppercase;
    width: 250px;
}



/* main-section */
main {
    height: 100vh;
}

.container {
    height: 100vh;
    text-align: center;
}

.wrap_cards{
    background-color: rgb(85, 85, 85);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.card{
    background-color: black;
    margin: 15px 15px;
    color: honeydew;
    text-align: center;
    width: 400px;
}


/* contenuto card */
.text_card{
    display: none;
   margin-top: 30px;
    color: white;
    padding: 10px;
    font-size: 15px;
}

.card li {
    padding: 5px;
}

/* /votazione stelle */

.stella {
    color: lightgray;
    display: inline-block;
}

.star_vote{
    color: rgb(255, 223, 40);
}

/* sezione hover */
.card:hover .text_card{
    display: block;
}

.card:hover .posterimg {
    display: none;
}
